<my-header [title] = "operateTitle"></my-header>
<div class="operate">
  <form #contactForm ="ngForm" (ngSibmit)="submitForm()">
    <ul>
      <li>
        <label>姓名：</label>
        <p>
          <input type="text" value="{{contact.name}}"
          [(ngModel)]="contact.name" name="name" (blur)="onBlurName()">
          <i *ngIf="nameTip" [ngClass]="{green: isName,red: !isName}"></i>
        </p>
      </li>
      <li>
        <label>电话</label>
        <p>
          <input type="text" value="{{contact.telNum}}"
          [(ngModel)]="contact.telNum" name="telNum"
          (ngBlur)="onBlurPhone()">
          <i *ngIf="phoneTip" [ngClass]="{green:isPhone,red: !isPhone}"></i>
        </p>
      </li>
      <li>
        <label>地址</label>
        <p>
          <input type="text" value="{{contact.address}}"
          [(ngModel)]="contact.address" name="address"
          (ngBlur)="onBlurAddr()">
          <i *ngIf="addrTip" [ngClass]="{green:isAddress,red:!isAddress}"></i>
        </p>
      </li>
      <li>
        <label>邮箱</label>
        <p>
          <input type="text" value="{{contact.email}}"
          [(ngModel)]="contact.email" name="email"
          (ngBlur)="onBlurEmail()" [ngClass]="{green:isEmail,red:!isEmail}">
        </p>
      </li>
      <li>
        <label>生日</label>
        <p>
          <input type="text" value="{{birthday}}"
          [(ngModel)]="contact.birthday" name="birthday"
          (ngBlur)="onBlurBir()" placeholder="日期格式如：1992/10/12"
          [ngClass]="{green:isBir,red:!isBir}">
        </p>
      </li>
    </ul>
    <div class="btn">
      <button type="submit" class="fl" btnClickStyle>保存</button>
      <button (click)="cancleOperate()" class="fr">取消</button>
    </div>
  </form>
</div>
